img {
	float: left;
	margin-left: 4.5%;
	margin-right: 4.5%;
	margin-top: 1%;
	margin-bottom:2%; 
	width:300px;
	height:300px;
}
p {
	margin-left: 4.5%;
	width:300px;
	font-family: releway;
	font-size: 40px;
	font-weight: 500;
	font-variant: small-caps;
	border-bottom:2px solid #f1f1f1;
	padding-bottom: 20px;
}